@media(min-width:220px) and (max-width:498px){

    main .image img ,.disclosure {

        border-radius:0;

    }

}

@media(min-width:50px) and (max-width:219px){

    main .image img ,.disclosure {

        border-radius:0;

    }
    main .image img {
        width: 199px;
        height: 450px;
    }
    .disclosure {
        width: 219px;
        height: 450px;
    }
   .main-title {
    font-size: 15px;  
    margin:25px;
}

}