 :root {
/*### Primary*/

--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);

/*### Neutral*/
--dark-great-cyan:#164548;
--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);

/* Font size (): 14px */
--paragraph:12px;

/* Font family */
--montserrat:Montserrat;
--fraunces:Fraunces;
}
