@font-face {
    font-family: 'Inter';
    src: url('fonts/static/Inter-Bold.ttf') format('ttf');

}

body{
    background-color:hsl(0, 0%, 8%);
}



main {
    background-color: hsl(0, 0%, 12%);
    width: 382px;
    height: 610px;
    margin:auto;
    margin-top: 140px;
    padding: 35px;
    border-radius: 12px;
    text-align: center;
}

.avatar  {
    width: 90px;
    height: 90px;
    margin:auto;
}

img {
    width: inherit;
    height:inherit;
    border-radius: 50%;
}

.title h1 {
  margin-top: 35px;   
  font-family:Inter;
  font-size:24px;
  color: hsl(0, 0%, 100%);
  font-weight:500;
}

.text-1 {
    margin-top:8px;
    font-family:Inter;
    font-size : 15px;
    color: hsl(75,94%, 57%);
    font-weight:500;
    
}

.text-2{
    margin-top:22px;
    font-family:Inter;
    font-size: 14px;
    color :hsl(0, 0%, 100%);
    font-weight:400;
}
.card-list{
    margin-top:25px;
    width:240px;
    height:280px;
    /*background-color:red;*/
}
 .card-list ul li{
    margin-top:18px;
    width:320px; 
    background-color:hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    padding:12px;
    list-style-type:none;
    border-radius:10px;
    font-family:Inter;
    font-weight:400;
    
}

.card-list ul li:hover{
    cursor:pointer;
    color:hsl(0, 0%, 8%);
    font-weight: 600;
    background-color: hsl(75,94%, 57%);
    transition:0.3s;
}

/*
mobile format
main {
    background-color: hsl(0, 0%, 12%);
    width: 285px;
    height: 550px;
    margin:auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}
*/